<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" id="three">
  <h1>
   {{ title }}
  </h1>
  <img width="80" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROskQski8Ry_ROn8gBM5HSzxG6yYMlim2fW2_pRDYcgk_n6EaUjA">
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<ul class="nav navbar-nav navbar-right">
  <li><a routerLink='/users' routerLinkActive='active'>GitHub</a></li>
  <li><a routerLink='/about' routerLinkActive='active'>About</a></li>
  </ul>

<router-outlet></router-outlet>

<app-github></app-github>
