#three{background-color: white;
color:black;
font-family: 'Times New Roman', Times, serif;
padding:20px;}
ul {
width: 100%;}
ul>li>a{font-family:'courier new';
text-decoration: none;
background-color: white;
color: white;
font-size:40px;}